[submodule "xmarts/credit_limit_alert_update"]
	path = xmarts/credit_limit_alert_update
	url = git@github.com:xmarts/credit_limit_alert_update.git
	branch = 15.0

[submodule "xmarts/fieldservice_xma"]
	path = xmarts/fieldservice_xma
	url = git@github.com:xmarts/fieldservice_xma.git
	branch = 15.0-jarochito

[submodule "xmarts/stock-diference-jaro"]
	path = xmarts/stock-diference-jaro
	url = git@github.com:xmarts/stock-diference-jaro.git
	branch = 15.0
